<div class="block">
	<div class="secondary-navigation">
		<ul class="wat-cf">
			<li><a href="/calendar">Calendar</a></li>
			<li><a href="/events/new">New Memory</a></li>
			<li class="active"><a href="/events/">Events</a></li>
		</ul>
	</div>
	<div class = "content">
		<h2 class="title">Events</h2>
		<div class = "inner">
			<table class="table">
				<tr>
					<th>Event Name</th>
					<th>Start</th>
					<th>End</th>
					<th>Details</th>
				</tr>
				<% @events.each do |event| %>
				<tbody>
					<tr>
						<td><%= link_to event.name, controller:"events", action:"show", id:event.id %></td>
						<td><%= event.start_at.strftime("%Y-%m-%d") %></td> 
						<td><%= event.end_at.strftime("%Y-%m-%d") %></td> 
						<td><%= event.body %></td>
						<td><%= link_to "[DELETE]", event_path(event.id), method: :delete, data: { confirm: "are you sure?" } %></td>
					</tr>
				</tbody>
				<% end %>
			</table>	
		</div>
	</div>
</div>
